extend ../templates/common/layout
block vars
	- var title = 'Index'
	- var navBarActiveId = 0
	- var pageClass = 'note'
	- var	pageName = note.name

block pageButtons
	a(href='/notes').button Return to note list
	a(href='/notes/#{note._id}/section/create').button Add section

block content
	div.row
		div(class='6u -3u 10u(large) -2u(large) 12u(medium)')
			section#select.card.card--raw
				div.card__container
					div.card__title
						p Section list
					div.card__content
						table.table.table--link
							thead
								tr
									th Name
									th Last update
							tbody
								each noteSection in note.noteSections
									tr
										td: a(href='\##{noteSection._id}')!= noteSection.name
										td!= noteSection.updatedAt.toLocaleDateString() + ', ' + noteSection.updatedAt.toLocaleTimeString()
								else
									tr
										td(colspan='2') None exist yet !

		div(class='12u')
			section.note
				if note.noteSections.length > 0
					each noteSection, index in note.noteSections
						div(id='#{noteSection._id}').card.note__section
							div.card__container
								div.card__title
									p= noteSection.name
									div.button__container
										a(href='/notes/#{note._id}/section/#{noteSection._id}/update').button Update

								div(nid='#{note._id}' ns-hidden).mkd__content.card__content.note__section__content Loading...

							div.card__action
								div.button__container
									a(href='/notes/#{note._id}/section/#{noteSection._id}/update').button Update

				else
					div.card.note__section
						div.card__container
							div.card__content.note__section__empty
									p Nothing to view :(
									div.button__container
										a(href='/notes/#{note._id}/section/create').button Add section ?